/*
=============== 
Navbar
===============
*/


/*
=============== 
Footer
===============
*/

.footer-icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--clr-white);
    transition: var(--transition);
}

.footer-icon:hover {
    color: var(--clr-primary-5);
}

/* nav at bigger screen size */
@media screen and (min-width: 992px) {
    .nav-icon {
        margin-right: 0.7rem;
        color: var(--clr-primary-5);
        font-size: 1.2rem;
        transition: var(--transition);
    }
    .nav-icon:hover {
        color: var(--clr-primary-8);
    }
}    