/*
=============== 
Featured Tours
===============
*/

.btn-holder {
  margin-bottom: 2rem;
  text-align: center;
}

.btn-holder button {
  margin: 0 1rem 2rem 1rem;
}

@media screen and (min-width: 768px) {
    .featured-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
}

@media screen and (min-width: 1170px) {
    .featured-center {
      grid-template-columns: 1fr 1fr 1fr;
    }
}